<ul class="sidebar navbar-nav toggled">
  <li class="nav-item">
    <%= link_to root_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-globe"></i>
      <span><%= t('dashboard.side.home') %></span>
    <% end %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="groupsDropdown" role="button" data-toggle="dropdown">
      <i class="fas fa-fw fa-users"></i>
      <span><%= t('dashboard.side.groups') %></span>
    </a>
    <div class="dropdown-menu">
      <h6 class="dropdown-header"><%= t('dashboard.side.groups') %></h6>
      <% current_user.groups.each do |group| %>
        <%= link_to group.name, group, class: 'dropdown-item' %>
      <% end %>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-tasks"></i>
      <span><%= t('dashboard.side.tasks') %></span></a>
  </li>
</ul>