<div id="comments-widget-of-commentable-<%= commentable.id %>" class="comments-widget">
  <h4 class="comments-header">
    Comments <span id="comments-count-of-commentable-<%= commentable.id %>"><%= commentable.comments.size %></span>
  </h4>
  <ul class="comments-list">
    <%= render commentable.comments.where(parent_id: nil).order("created_at ASC") %>
  </ul>
  <%= render partial: "comments/form", locals: { comment: commentable.comments.build } %>
</div>