<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <%= link_to t('common.back'), group_path(@group), class: "btn btn-md btn-info" %>
          <% if can? :create, Task %>
            <%= link_to t('tasks.index.create'), new_group_task_path(@group), class: "btn btn-md btn-primary" %>
          <% end %>
        </div>
        <div class="card-content">
          <h2><%= t('tasks.index.heading') + " \"#{@group.name}\"" %></h2>
          <div id="tasks_pager">
            <%= paginate @tasks, remote: true %>
          </div>
          <div id="tasks">
            <% @tasks.each do |task| %>
              <%= (render partial: "task_card", locals: {group: @group, task: task }) %>
              <br/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
