<div class="card">
    <div class="card-header row">
      <div class="card-title col-md-8">
        <h4><%= @task.title %></h4>
      </div>
      <div id="rating-div" class="col-md-4">
        <%= render partial: "rating_widget", locals: { task: @task } %>
      </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <div class="card-text">
          Description: <br/>
          <%= @task.description %>
        </div>
      </div>
      <hr/>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            Created by:
            <%= "#{@task.creator.display_name}<#{@task.creator.email}>" %>
          </div>
          <div class="col-6">
            Executed by:
            <%= "#{@task.executor.display_name}<#{@task.executor.email}>" %>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <% if @task.ready? && can?(:start, @task) %>
      <div class="row text-center">
        <div class="col-12">
          <%= content_tag(:h4, "#{@task.executor.display_name} estimated that the work could be finished at") %>
          <%= content_tag(:h2, "#{@task.expires_at.in_time_zone(cookies[:timezone]).strftime('%Y-%m-%d %H:%M:%S')}") %>
          <%= content_tag(:span, "It is #{TimeDifference.between(@task.expires_at, Time.now).humanize} from now.")  %><br/>
          <span>Do you agree?</span>
          <div>
            <%= link_to "Confirm estimate", group_task_estimate_accept_path(@task.group_id, @task), method: :post, class: "btn btn-md btn-success" %>
            <%= link_to "Reject estimate", group_task_estimate_reject_path(@task.group_id, @task), method: :post, class: "btn btn-md btn-danger" %>
          </div>
        </div>
      </div>
      <hr/>
    <% elsif @task.paused? && @task.new_expires_at && can?(:start, @task)%>
      <div class="row text-center">
        <div class="col-12">
          <%= content_tag(:h4, "#{@task.executor.display_name} requests more time, now the deadline is") %>
          <%= content_tag(:h2, "#{@task.new_expires_at.in_time_zone(cookies[:timezone]).strftime('%Y-%m-%d %H:%M:%S')}") %>
          <%= content_tag(:span, "It is #{TimeDifference.between(@task.expires_at, Time.now).humanize} after the previous estimate.") %><br/>
          <span>Do you agree?</span>
          <div>
            <%= link_to "Confirm estimate", group_task_estimate_accept_path(@task.group_id, @task), method: :post, class: "btn btn-md btn-success" %>
            <%= link_to "Reject estimate", group_task_estimate_reject_path(@task.group_id, @task), method: :post, class: "btn btn-md btn-danger" %>
          </div>
        </div>
      </div>
      <hr/>
    <% end %>
    <div class="row">
      <div class="col-lg-12 timer_column_<%= @task.id %>">
        <%= render partial: "timer", locals: {task: @task} %>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-lg-12">
        <%= render partial: "comments/widget", locals: {commentable: @task} %>
      </div>
    </div>
    <div class="card-block">
      <%= link_to "Edit task", edit_group_task_path(@task.group_id, @task), class: "btn btn-md btn-warning" %>
      <%= link_to "Destroy task", group_task_path(@task.group_id, @task), class: "btn btn-md btn-danger", method: "delete" %>
      <%= link_to "Back", group_tasks_path(@task.group_id), class: "btn btn-md btn-info" %>
    </div>
  </div>
</div>