<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= link_to t('common.back'), groups_path %>
      <hr/>
      <%= t('group.show.name') %> <%= @group.name %><br/>
      <%= t('group.show.public') %> <%= @group.visible_to_all ? t('simple_form.yes') : t('simple_form.no') %><br/>
      <% if can? :edit, @group %>
        <%= link_to t('groups.edit.heading'), edit_group_path(@group), class: "btn btn-warning btn-md"%>
      <% end %>
      <% if can? :add_users, @group %>
        <%= link_to t('groups.show.invite'), group_member_new_path(@group), class: "btn btn-md btn-info" %>
      <% end %>
      <%= link_to t('groups.show.tasks'), group_tasks_path(@group), class: "btn btn-md btn-success" %>
      <% if @group.in? current_user.groups %>
        <%= link_to group_member_path(@group), method: :delete, class: "btn btn-md- btn-danger" do %>
          <i class="fas fa-door-open"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>