<div id="accordion" class="mb-3">
  <div class="card">
    <div class="card-header" id="statsHeading">
      <h5 class="mb-0">
        <button class="btn btn-md btn-secondary" data-toggle="collapse" data-target="#collapsingStats" aria-expanded="true" aria-controls="collapsingStats">
          <%= t('stats.heading') %>
        </button>
        <%= link_to t('groups.new.heading'), new_group_path, class: "btn btn-md btn-primary" %>
        <button class="btn btn-md btn-secondary float-right" data-toggle="collapse" data-target="#collapsingTagCloud">
          <%= t('stats.tag_cloud') %>
        </button>
      </h5>
    </div>
    <div id="collapsingStats" class="collapse show" aria-labelledby="statsHeading" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content stats-card-content">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card-body text-center p-0">
                      <div class="card-header mb-2">
                        <span><%= t('stats.rating.average') %></span>
                        <h4 class="display-4"><i class="fas fa-star mr-3"></i><%= user.average_rating %></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card-body text-center p-0">
                      <div class="card-header mb-2">
                        <span><%= t('stats.tasks.active') %></span>
                        <h4 class="display-4"><i class="fas fa-tasks mr-3"></i><%= user.active_tasks_count %></h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card-body text-center p-0">
                      <div class="card-header mb-2">
                        <span><%= t('stats.tasks.finished') %></span>
                        <h4 class="display-4"><i class="fas fa-calendar-check mr-3"></i><%= user.finished_tasks_count %></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="collapsingTagCloud" class="collapse" aria-labelledby="statsHeading" data-parent="#accordion">
      <div class="card-body">
        <div id="tag_cloud">
          <% tag_cloud Task.tag_counts, %w[tag-sm tag-md tag-lg] do |tag, css_class| %>
            <%= link_to tag.name, search_path(params: {tag: true, "only[]": "tasks", query: tag.name}), class: ["tag",css_class].join(' ') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>