<!DOCTYPE html>
<html>
    <head>
      <title>HouseholdDuties</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body class="sidebar-toggled">
    <% console %>
       <%= render partial: "dashboard/navbar" %>
       <div id="wrapper">
         <%= render partial: "dashboard/sidebar" %>

         <div id="content-wrapper">
           <div class="container-fluid">
             <!-- Page content -->
             <%= yield %>
           </div>
         </div>
       </div>

    </body>
</html>