<div class="container">
  <div class="row">
    <div class="col-sm-7 col-md-5">

      <div class="text-center">
        <img class="profile-pic img-responsive rounded-circle" src="https://www.startalkradio.net/wp-content/uploads/2015/03/elon-musk-600x600-300x300.jpg" alt="avatar">
        <h2 class="mt-2"><%= current_user.display_name %></h2>
        <div>
          <i class="fab fa-facebook-f btn btn-sm btn-primary"></i>
          <i class="fab fa-twitter btn btn-sm btn-primary"></i>
          <i class="fab fa-vk btn btn-sm btn-primary"></i>
          <i class="fab fa-google btn btn-sm btn-danger"></i>
        </div>
      </div><br>
      <div class="text-center">
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-md btn-danger mx-3' %>
        <%= link_to "Back", :back, class: 'btn btn-md btn-primary mx-3' %>
      </div>

    </div>
    <div class="col-sm-5 col-md-7">
      <h2>Edit profile</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :display_name,
                      required: true,
                      input_html: { autocomplete: "display_name" } %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

