<div class="container">
  <div class="row">
    <div class="col-sm-7 col-md-5">

      <div class="text-center">
        <%= image_tag(current_user.avatar.profile.url, alt:'Avatar', class: 'profile-pic img-responsive rounded-circle') %>
        <h2 class="mt-2"><%= current_user.display_name %></h2>
        <div>
          <i class="fab fa-facebook-f btn btn-sm btn-primary profile-social"></i>
          <i class="fab fa-twitter btn btn-sm btn-primary profile-social"></i>
          <i class="fab fa-vk btn btn-sm btn-primary profile-social"></i>
          <i class="fab fa-google btn btn-sm btn-danger profile-social"></i>
        </div>
      </div><br>

      <div class="profile-user-info">
        <div class="profile-info-row">
          <div class="profile-info-name"> <%= t('user.profile.name') %> </div>

          <div class="profile-info-value">
            <span><%= current_user.display_name %></span>
          </div>
        </div>

        <div class="profile-info-row">
          <div class="profile-info-name"> <%= t('user.profile.email') %> </div>

          <div class="profile-info-value">
            <span><%= current_user.email %></span>
          </div>
        </div>

        <div class="profile-info-row">
          <div class="profile-info-name"> <%= t('user.profile.birthdate') %> </div>

          <div class="profile-info-value">
            <span><%= current_user.created_at %></span>
          </div>
        </div>

        <div class="profile-info-row">
          <div class="profile-info-name"> <%= t('user.profile.registration_date') %> </div>

          <div class="profile-info-value">
            <span><%= current_user.created_at %></span>
          </div>
        </div>
      </div>


    </div>
    <div class="col-sm-5 col-md-7">
      <ul class="list-group">
        <li class="list-group-item text-muted text-right"><%= t('user.profile.stats') %> <i class="fas fa-tachometer-alt"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><%= t('stats.rating.average') %></strong></span>
          <%= current_user.average_rating %>
          <i class="fas fa-star ml-1"></i>
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><%= t('stats.tasks.created') %></strong></span>
          <%= current_user.created_tasks_count %>
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><%= t('stats.tasks.finished') %></strong></span>
          <%= current_user.finished_tasks_count %>
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><%= t('stats.tasks.active') %></strong></span>
          <%= current_user.active_tasks_count %>
        </li>
      </ul>

      <br/>

      <ul id="member-list" class="list-group">
        <li class="list-group-item text-muted text-right"><%= t('user.profile.memberships') %></li>
        <% current_user.groups.each do |group| %>
          <li id="li-member-<%= group.id %>" class="list-group-item text-right">
            <span class="pull-left"><i class="fas fa-users mr-2"></i><%= group.name %></span>
            <%= link_to group_member_path(group), method: :delete, remote: true, class: "btn btn-sm btn-danger" do %>
              <i class="fas fa-door-open"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <%= link_to t('common.back'), :back, class: 'btn btn-md btn-primary mx-3 my-2' %><br/>
    <%= link_to t('user.profile.edit.action'), edit_user_registration_path, class: 'btn btn-md btn-warning mx-3 my-2' %>
    <%= link_to t('user.profile.cancel.action'), registration_path(resource_name), method: :delete, class: 'btn btn-md btn-danger mx-3 my-2', data: {confirm: t('common.confirm')} %>
  </div>
</div>